
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <form action="/Dict/AddSave" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder="Enter username" id="name" />
            <br />
            <label for="phone">Phone:</label>
            <input type="text" name="phone" placeholder="Enter phone" id="phone" />
            <br />
            <input type="submit" value="Add" />
        </form>
    </div>
</body>
</html>
