
@{
    Layout = null;
    string method = ViewBag.Method;
    string url = ViewBag.Url;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div> 
        <p>@method: @url не поддерживается </p>
    </div>
</body>
</html>
